@import "../../../../../../themes/contrib/infinite/sass/variables.base";
@import "../../../../../../themes/contrib/infinite/sass/variables.components";

@import "compass";

@import "../../../../../../themes/contrib/infinite/sass/mixins";
@import "../../../../../../themes/contrib/infinite/sass/extends";

@import "../../../../../../themes/contrib/infinite/sass/components/buttons";

.button {
  text-decoration: none !important;
  display: inline-block;
}

.field--name-field-anchor {
  display: none;
}

.node-magazine-products-form .field--name-field-anchor, .taxonomy-term-form .field--name-field-anchor {
  display: block !important;
}