<div id="wishlist__container" class="flyout--wishlist">
    <button id="wishlist__toggle">
        <svg viewBox="-1 -1 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/">
            <g transform="matrix(1,0,0,1,-8,-7.99976)">
                <path d="M28.989,14.042C28.989,14.41 28.961,14.782 28.907,15.157C28.507,17.921 26.713,20.753 23.985,23.579C22.491,25.12 20.868,26.532 19.134,27.798C18.774,28.051 18.299,28.068 17.922,27.841C17.837,27.791 17.688,27.697 17.484,27.564C15.896,26.524 14.407,25.341 13.034,24.03C9.903,21.028 8,17.836 8,14.523C8,7.698 15.499,6.09 18.502,10.547C21.512,6.152 28.989,7.525 28.989,14.042Z" />
            </g>
        </svg>
        <span id="wishlist__toggle__count"></span>
    </button>
    <div id="wishlist">
        <h1>Wunschliste</h1>
        <ul id="wishlist__list"></ul>
        <div id="wishlist__button__wrapper">
            <a id="wishlist__button" href="{{ path('infinite_wishlist') }}">Zur Wunschliste</a>
        </div>
    </div>
</div>