<div id="wishlist__container" class="flyout--wishlist">
    <button id="wishlist__toggle">
        <img src="/modules/contrib/infinite_base/modules/infinite_wishlist/icons/wishlist--heart.svg"
             alt="Wunschliste">
        <div id="wishlist__toggle__count"></div>
    </button>
    <div id="wishlist">
        <h1>Wunschliste</h1>
        <ul id="wishlist__list"></ul>
        <div id="wishlist__button__wrapper">
            <a id="wishlist__button" href="{{ path('infinite_wishlist') }}">Zur Wunschliste</a>
        </div>
    </div>
</div>