<div id="wishlist__container" {{ attributes.addClass("flyout--wishlist user-navigation__item") }}>
  <button id="wishlist__toggle" class="wishlist--empty">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.016 12.243c.034-1.998-.728-4.114-2.248-5.67-1.49-1.574-3.742-2.508-6.043-2.408-2.314.097-4.382 1.212-5.69 2.783-1.592-1.682-3.305-2.68-5.68-2.784-2.304-.102-4.56.827-6.055 2.402C2.776 8.12 2.01 10.24 2.042 12.24c.02 1.788.33 3.345 1.668 4.742 0 0 11.987 12.055 12.337 11.762.365.246 12.367-11.852 12.367-11.852 1.215-1.387 1.582-2.903 1.602-4.65zM16.04 28.6c-.333-.845-4.53-5.09-10.858-11.365l.012-.007c-.226-.33-2.173-1.783-2.24-5.004A7.124 7.124 0 0 1 4.916 7.16C6.238 5.74 8.25 4.894 10.32 4.97c1.572.06 3.1.644 4.332 1.7 1.06.92.96 1.11 1.392 1.525 1.41-1.838 3.113-3.13 5.716-3.223 2.07-.075 4.076.777 5.393 2.197a7.114 7.114 0 0 1 1.95 5.055c-.07 3.093-2.177 4.86-2.34 5.097l.02.008C20.5 23.547 16.34 27.75 16.042 28.6z"/></svg>
    <span id="wishlist__toggle__count"></span>
  </button>
  <div id="wishlist">
    <div class="wishlist__close-button"></div>
    <div class="title--wishlist">Wunschliste</div>
    <ul id="wishlist__list"></ul>
    <div id="wishlist__button__wrapper">
      <a id="wishlist__button" href="{{ path('infinite_wishlist') }}">Zur Wunschliste</a>
    </div>
  </div>
</div>
