<a class="infinite-more-link use-ajax" href="{{ lazy_loading_url }}"
   title="Lazy loading of next page" rel="next">
    <span class="visually-hidden">Next page</span>
    <span aria-hidden="true">next ›</span>
</a>
