<div class="item-media-header">
    <div class="media-header-image">
        <div class="img-container-wrapper">
            {{ header_media }}
        </div>
        <div class="caption">
            <h1 class="text-headline text-headline-size-h1">{{ header_title }}</h1>
        </div>
    </div>
</div>
