<div class="item-media--header">
    <div class="item-media--header-image">
        <div class="img-container-wrapper">
            {{ header_media }}
        </div>
        <div class="caption">
            <h1 class="text-title text-headline">{{ header_title }}</h1>
        </div>
    </div>
</div>
