{% set link_url = link_url | default("") %}

{% if link_url != "" %}
<a class="logo" href="{{ link_url }}" title="{{ 'Home'|t }}">
{% endif %}

    <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>

{% if use_link != "false" %}
</a>
{% endif %}

