<!-- //TODO set the search_min_char var dynamic -->
{% set search_min_char = 3 %}

<div id="modal-search" class="modal modal-full fade" role="dialog" data-keyboard="false" data-view-context>

    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="icon icon-close"></span>
        </button>

        <div class="container-input">
            <input id="modal-search-input" data-min-char-length="{{ search_min_char }}"
                   class="item-input text-headline text-headline-size-h1 input-blank"
                   placeholder="|Search" type="search" name="search" />
        </div>
        <div class="h-line"></div>
        <div class="container-description">
            <div id="modal-search-description">
                <div class="message-default text-label text-label-size-medium">Enter a search term</div>
                <div class="message-char-length icon icon-info">
                    Still at least. <span
                            class="char-count">{{ search_min_char }}</span> character
                </div>
                <div class="message-active text-label text-label-size-medium">Press  <i class="icon icon-return">
                        to confirm</i></div>
            </div>
        </div>

        <div id="feed-modal-search" class="region-feed-teasers region-feed" data-view-type="feedView">
            <div class="container-content container-content-dynamic container-feed-items"></div>
        </div>
    </div>
</div>
