{% set attributes = attributes.addClass('region-newsletter-page') %}
{% extends 'newsletter.html.twig' %}

{% block container_privacy %}
    <div class="container-privacy container-content-item container-content-item--centered">
        <div class="content-wrapper">
            <span class="icon icon-close"></span>

            <div class="container-content-dynamic">

            </div>
        </div>
    </div>
{% endblock %}