<div class="region-full-content region-newsletter region-newsletter-page hidden instyle-men" data-view-type="newsletterView" data-newsletter-group-id="60">
    <div class="container-content">

        <form class="container-form container-content-item">
            <div class="text-headline text-headline-size-h3">TAUSCHE E-MAIL-ADRESSE GEGEN COOLE TRENDS</div>

            <p class="text-description">Der InStyle Men Newsletter liefert dir täglich News aus Mode, Technik und Lifestyle. Eben alles, was man als cooler Kerl so drauf haben muss.</p>

            <div class="form-group">
                <input class="input-lg input-email" type="email" name="email" required
                       placeholder="Deine E-Mail-Adresse">
                <button type="submit" class="btn btn-lg">Anmelden</button>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="agreements[]" value="datenschutzeinwilligung"> Ja, ich
                        stimme folgender Erhebung und
                        Verwendung meiner Daten zu. <a href="#" class="privacy-link">Mehr</a>
                    </label>
                </div>
            </div>

            <div class="container-alerts"></div>
        </form>

        <div class="container-success container-content-item">
            <div class="text-headline text-headline-size-h3">ANMELDEN ZUM INSTYLE-NEWSLETTER</div>
            <p>Willkommen bei InStyle! Danke für deine Anmeldung für unseren Newsletter.</p>

            <p>Wir schicken dir in Kürze eine Bestätigungs-E-Mail zu. Bitte klicke auf den Aktivierungslink in
                dieser
                Mail, dann liefern wir dir alles rund um Fashion, Beauty und Lifestyle direkt ins Postfach.
                Keine Mail von uns bekommen? Bitte sieh in deinem Spam-Ordner nach.</p>
        </div>

        <div class="container-privacy container-content-item">
            <span class="icon icon-close"></span>

            <div class="container-content-dynamic">

            </div>
        </div>
    </div>

</div>