{% if not use_parent_container %}
<div class="socials socials-bar">
{% endif %}

    {% set rel_follow = 'nofollow' %}
    {% if follow %} {% set rel_follow = 'follow' %} {% endif %}

    <div>
        <a class="item-social icon-facebook" href="https://www.facebook.com/InStyleGermany" target="_blank"
           data-social-type="facebook" rel="{{ rel_follow }}"></a>
        <a class="item-social icon-instagram" href="https://instagram.com/InStyleGermany/" target="_blank"
           data-social-type="instagram" rel="{{ rel_follow }}"></a>
        <a class="item-social icon-pinterest" href="https://www.pinterest.de/instylegermany/" target="_blank"
           data-social-type="pinterest" rel="{{ rel_follow }}"></a>
        <a class="item-social icon-twitter" href="https://twitter.com/InStyleGermany" target="_blank"
           data-social-type="twitter" rel="{{ rel_follow }}"></a>

        <a class="item-social icon-email" href="/newsletter" data-social-type="email"></a>
    </div>

    {% if include_wishlist_icon %}
        {% include '@infinite_wishlist/infinite-wishlist-flyout.html.twig' %}
    {% endif %}

{% if not use_parent_container %}
</div>
{% endif %}